# directories
/data
/app/chroma_db

# macOS Finder metadata
.DS_Store

# vector db
chess_chroma_db/

transcript_cache/
summary_cache/

# trialling files
chromadb-test.ipynb
youtube_RAG.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# log files
*.log

# Environment folders
/.venv
__pycache__/

# 
.vscode

# Secret environment variables
.env